#!/bin/sh


# Set up environment variables for RELION-2.0 if they are not already set
[[ ":$PATH:" != *":{{ relion_bin }}:"* ]] && export PATH="${PATH}:{{ relion_bin }}"
[[ ":$LD_LIBRARY_PATH:" != *":{{ relion_lib }}:"* ]] && export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:{{ relion_lib }}"


# Set up Relion-specific environment variable for CUDA
export CUDA_HOME={{ echo_which_nvcc.stdout|replace("/bin/nvcc","") }}



# Default PDF viewer
export RELION_PDFVIEWER_EXECUTABLE=evince

# Default MOTIONCORR executable
export RELION_MOTIONCORR_EXECUTABLE={{ motioncorr_exe_path }}

# Default UNBLUR/SUMMOVIE executables
export RELION_UNBLUR_EXECUTABLE={{ unblur_find_exe.files[0].path }}
export RELION_SUMMOVIE_EXECUTABLE={{ summovie_find_exe.files[0].path }}

# Default CTFFIND executable, version 4.1
export RELION_CTFFIND_EXECUTABLE={{ctffind4_exe_path}}

# Default Gctf executable
export RELION_GCTF_EXECUTABLE={{gctf_exe_path}}

# Default ResMap executable
export RELION_RESMAP_EXECUTABLE={{resmap_exe_path}}

# Enforce cluster jobs to occupy entire nodes with 24 hyperthreads
#export RELION_MINIMUM_DEDICATED 24

# Do not allow the user to change the enforcement of entire nodes
#export RELION_ALLOW_CHANGE_MINIMUM_DEDICATED 0

# Ask for confirmation if users try to submit local jobs with more than 12 MPI nodes
#export RELION_WARNING_LOCAL_MPI 12