#!/bin/sh

# Set up environment variables for custom RELION 2.0 python scripts if they do not already exist
[[ ":$PATH:" != *":{{ relion_python_dir }}:"* ]] && export PATH="${PATH}:{{ relion_python_dir }}"
[[ ":$PYTHONPATH:" != *":{{ relion_python_dir }}:"* ]] && export PYTHONPATH="${PYTHONPATH}:{{ relion_python_dir }}"


# Set up environment variable for Ansible-generated default mpirun hosts file
RELION_DEFAULT_HOSTFILE="{{ relion_default_hostfile }}"
RELION_DEFAULT_CPU_HOSTFILE="{{ relion_default_hostfile_cpu }}"

# Set up environment variable for the string format of the /usr/bin/time executable
TIME_FORMAT="\n\nResults from /usr/bin/time \nCommand completed: \n%C \nExit status: %x \nReal elapsed time: %E \n"