#!/bin/sh

# Add Cuda to path if it is not there already
[[ ":$PATH:" != *":/usr/local/cuda/bin:"* ]] && export PATH="/usr/local/cuda/bin:${PATH}"

export CUDADIR=/usr/local/cuda
export CUDADIR=/usr/local/cuda